<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <globalization uiCulture="pt-BR" culture="pt-BR" />
    <customErrors mode="Off" />
    <compilation strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".sett" type="LMM.BuildProvider.SettingsBuildProvider, LMM.BuildProvider" />
        <add extension=".cstr" type="LMM.BuildProvider.ConStrBuildProvider, LMM.BuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="2000000000" executionTimeout="10800" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="C600segundos" duration="600" varyByParam="*" />
          <add name="C60segundos" duration="60" varyByParam="*" />
          <add name="CacheFacebookUpdate" duration="60" varyByParam="*" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^planninglondrina.com.br$" />
          </conditions>
          <action type="Redirect" url="http://www.planninglondrina.com.br/{R:0}" redirectType="Permanent" />
        </rule>

        <rule name="blog_1">
          <match url="^blog$"/>
          <action type="Rewrite" url="/blog.aspx"/>
        </rule>

        <rule name="blog_2">
          <match url="^blog/(.+)"/>
          <action type="Rewrite" url="/post.aspx?id={UrlEncode:{R:1}}"/>
        </rule>

      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".eot" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <!--<add name="protegeDados" verb="*" path="/DADOS/*" type="System.Web.HttpForbiddenHandler"/>-->
      <add name="uh1" verb="*" path="*.upload" type="UploadHandler" />
      <add name="ih1" verb="*" path="images/blog/*.*" type="ImagemHandler" />
      <add name="ih2" verb="*" path="images/parceiros/*.*" type="ImagemHandler" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.planninglondrina.com.br" password="K4g86BXN9U" port="587" userName="mail@planninglondrina.com.br" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://planninglondrina:q4Iq7zXk6K@ds055689.mongolab.com:55689/planninglondrina"/>
  </connectionStrings>
  <appSettings>
    <add key="CaminhoDados" value="..\dados\" />
    <add key="EmailContato" value="contato@planninglondrina.com.br" />
    <add key="EmailProposta" value="contato@planninglondrina.com.br" />
    <add key="EmailSMTP" value="contato@planninglondrina.com.br" />
    <add key="MeuHost" value="planninglondrina" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <!--<bindings>
      <webHttpBinding>
        <binding name="">
          <security mode="None">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" crossDomainScriptAccessEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>